{% extends "common/home.html" %}
{% load static %}
{% block title %}Login
{% endblock title %}
{% block header %}{% endblock header %} 

{% block body %}

{% comment %} <div class="container my-8 bg-light">
    <div class="row g-3 align-items-center">
    <div class="col-auto">
        <label for="Email" class="col-form-label">email</label>
    </div>
    <div class="col-auto">
        <input type="exampleInputEmail1" id="exampleInputEmail1" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Password</label>
        </div>
        <div class="col-auto">
            <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
                Must be 8-20 characters long.
            </span>
        </div>
    </div> {% endcomment %}

      <div class="container  my-3 p-3 bg-light">
    <form action='/' method="POST">
        <h1 class="text-center">Login</h1>
        {% csrf_token %}

        <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    <div class="mb-3">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" required>
        </div>
        <button type="submit" class="btn btn-primary">Signup</button>
{% endblock body %}